<%- include('../partials/header.ejs') -%> <% if(method =='POST'){%>
<form action="/articles?_method=POST" method="POST" enctype="multipart/form-data">
  <%}else if(method == 'PUT'){%>
  <form action="/articles/<%=data._id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
    <%};%>
    <div class="form-group">
      <label for="articleTitle">Article Title</label>
      <input
        type="text"
        class="form-control"
        id="articleTitle"
        name="title"
        aria-describedby="articleTitle"
        placeholder="A proper article title"
        value="<%=data.title%>"
      />
    </div>

    <div class="form-group">
      <label for="articleImage">Article image</label>
      <input
        type="file"
        class="form-control"
        id="articleImage"
        name="articleImage"
        aria-describedby="articleImage"
        placeholder="image.png"
      />
    </div>

    <div class="from-group">
      <label for="articleDescription">Short Description</label>
      <textarea
        class="form-control"
        id="articleDescription"
        name="description"
        aria-describedby="articleDescription"
        rows="3"
      >
<%=data.description%> </textarea
      >
    </div>

    <div class="from-group">
      <label for="articleContent">Content</label>
      <textarea
        class="form-control"
        id="articleDescription"
        name="content"
        aria-describedby="articleDescription"
        rows="15"
      >
 <%=data.content%></textarea
      >
    </div>
    <button type="Submit" class="btn btn-primary">Submit</button>
  </form>
  <%- include('../partials/footer.ejs') -%>
</form>
