<%- include('../partials/header.ejs') -%>


<div class="article container-fluid">
  <div class="article-heading">
    <h3><%= data.title %></h3>
  </div>
  <div class="article-image">
    <img
      src="/img/<%= typeof data.articleImage == 'undefined' ? 'default-image.png' : 'articleImage/' + data.articleImage %>">
  </div>
  <div class="article-author">
    <div class="font-italic text-muted"><%= moment(data.createdAt).format('lll')%></div>
    <p class="font-weight-bold"> by  <a href="/users/<%= data.author._id %>"><%= data.author.firstName + ' ' + data.author.lastName %></a> </p>
  </div>
  <div class="article-body">
    <p class="font-weight-light"><%=data.description%></p>
    <p class="article-content"><%=data.content%></p>
  </div>
</div>
<%- include('../partials/footer.ejs') -%>