<%- include('../partials/header.ejs') -%>

<div id="logreg-forms">
  <form action="?_method='POST'" method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
      Sign in
    </h1>
    <div class="social-login">
      <button class="btn facebook-btn social-btn" type="button">
        <span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span>
      </button>
      <button class="btn google-btn social-btn" type="button">
        <span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span>
      </button>
    </div>
    <p style="text-align:center">OR</p>
    <input
      type="text"
      id="inputUsername"
      class="form-control"
      name = "username"
      placeholder="Username"
      required=""
      autofocus=""
    />
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      name = "password"
      placeholder="Password"
      required=""
    />

    <button class="btn btn-success btn-block" type="submit">
      <i class="fas fa-sign-in-alt"></i> Sign in
    </button>
    <a href="#" id="forgot_pswd">Forgot password?</a>
    <hr />
    <!-- <p>Don't have an account!</p>  -->
    <button class="btn btn-primary btn-block" type="button" id="btn-signup">
      <i class="fas fa-user-plus"></i> Sign up New Account
    </button>
  </form>

  <form action="/reset/password/" class="form-reset">
    <input
      type="email"
      id="resetEmail"
      class="form-control"
      placeholder="Email address"
      required=""
      autofocus=""
    />
    <button class="btn btn-primary btn-block" type="submit">
      Reset Password
    </button>
    <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
  </form>

  <form action="/users/register?_method=POST" method="POST" class="form-signup">
    <div class="social-login">
      <button class="btn facebook-btn social-btn" type="button">
        <span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span>
      </button>
    </div>
    <div class="social-login">
      <button class="btn google-btn social-btn" type="button">
        <span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span>
      </button>
    </div>

    <p style="text-align:center">OR</p>
    <input
      type="text"
      name="username"
      id="user-name"
      class="form-control"
      placeholder="Kasutajanimi"
      required=""
      autofocus=""
    />
    <input
      type="text"
      name="firstName"
      id="first-name"
      class="form-control"
      placeholder="Eesnimi"
      required=""
      autofocus=""
    />
    <input
      type="text"
      name="lastName"
      id="last-name"
      class="form-control"
      placeholder="Perekonnanimi"
      required=""
      autofocus=""
    />
    <input
      type="email"
      name="email"
      id="user-email"
      class="form-control"
      placeholder="Email address"
      required
      autofocus=""
    />
    <input
      type="password"
      name="password"
      id="user-pass"
      class="form-control"
      placeholder="Parool"
      required
      autofocus=""
    />
    <input
      type="password"
      name="password2"
      id="user-repeatpass"
      class="form-control"
      placeholder="Parooli kordus"
      required
      autofocus=""
    />

    <button class="btn btn-primary btn-block" type="submit">
      <i class="fas fa-user-plus"></i> Sign Up
    </button>
    <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
  </form>
  <br />
</div>

<%- include('../partials/footer.ejs') -%>
